<!-- served from your routes in server.js -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Notion internal integration example" />

    <title>NCGC</title>
    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css" />

    <!-- import the webpage's client-side javascript file -->

    <script src="https://cdn.jsdelivr.net/npm/chart.js" defer></script>
    <script src="/client.js" defer></script>
  </head>
  <body>
    <header>
      <h1>North Country Game League</h1>
    </header>

    <main>
      <div>
        <canvas id="factionPie"></canvas>
      </div>
    </main>
  </body>
</html>
